@model Attest.Models.ListOtv
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <title>Lk-user</title>
</head>
<body>
    <form method="post" id="formid"asp-controller="User" asp-action="Add">

        <table>
            <tr>
                <th>№ заявления</th>
                <th>ФИО</th>
                <th>Дата подачи</th>
                <th>Место работы</th>
                <th>Должность</th>
                <th>Аттестация на квалификационную категорию</th>
                <th>Копия приказа или аттестационного листа (имею)</th>
                <th colspan="2">Статус заявления</th>

            </tr>



            @for (int i = 0; i < Model.ListOtvetstven.Count; i++)
            {


            <tr>

                <td> <input type="text" asp-for="ListOtvetstven[i].Id" /></td>
                <td> <input type="text" asp-for="ListOtvetstven[i].name" /></td>
                <td> <input type="text" asp-for="ListOtvetstven[i].data_podachi" /></td>
                <td> <input type="text" asp-for="ListOtvetstven[i].oo" /></td>
                <td> <input type="text" asp-for="ListOtvetstven[i].dolgnost" /></td>
                <td> <input type="text" asp-for="ListOtvetstven[i].kategor" /></td>

                <td>
                    @if (Model.ListOtvetstven[i].file != "")
                    {
                        @Html.ActionLink("Скачать", "file", "user", new { name_f = Model.ListOtvetstven[i].file, id = Model.ListOtvetstven[i].Id })
                    }
                </td>

                <td> <input type="text" asp-for="ListOtvetstven[i].status" id="status_@Model.ListOtvetstven[i].Id" /></td>
                <td> <input type="button" value="Дубль" id="@Model.ListOtvetstven[i].Id" /><input type="button" value="Ошибочное"  id="@Model.ListOtvetstven[i].Id"/><input type="button" value="Подлинное"  id="@Model.ListOtvetstven[i].Id"/></td>
            </tr>
            }
                </table>

    </form>
    <h2>Список пользователей</h2>
    <form name="userForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group">
            <label for="name">Имя:</label>
            <input class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label for="age">Возраст:</label>
            <input class="form-control" name="age" />
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
        </div>
    </form>
    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Id</th><th>Имя</th><th>возраст</th><th></th></tr></thead>
        <tbody></tbody>
    </table>

    <script>
        // Получение всех пользователей

        $(document).ready(function () {
            alert('Ваша версия jQuery ' + jQuery.fn.jquery);
        });


        $('#formid [value="Дубль"]').click(function GetUsers() {

            var collId = $(this).attr('id');

       



            var UserModel =
            {
                id: collId,
                tip: "1"
            };
            $.ajax({
                url: '/User/AddUser/',
                type: "POST",
                dataType: "json",
                data: UserModel,
                success: function (status) {
                    $('#status_' + collId).val(status);

                }
            });

        });
      
            $('#formid [value="Ошибочное"]').click(function GetUsers() {

                var collId = $(this).attr('id');

              
            //    alert("1"."gdfg");


                var UserModel =
                {
                    id: collId,
                    tip: "2"
                };
                $.ajax({
                    url: '/User/AddUser/',
                    type: "POST",
                    dataType: "json",
                    data: UserModel,
                    success: function (status) {
                                           
                        $('#status_' + collId).val(status);
                    }
                });


            });

        $('#formid [value="Подлинное"]').click(function GetUsers() {

            var collId = $(this).attr('id');

     



            var UserModel =
            {
                id: collId,
                tip: "3"
            };
            $.ajax({
                url: '/User/AddUser/',
                type: "POST",
                dataType: "json",
                data: UserModel,
                success: function (status) {
                    $('#status_' + collId).val(status);
                }
            });


        });
        // загрузка пользователей
        GetUsers();

    </script>
</body>
</html>