
@model Attest.Models.Zayavlen

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить пользователя</title>
</head>
<body>
    <form method="post" asp-controller="User" asp-action="ZayavSaveEdit">
        <table>
            <tr>
                <td>ФИО</td>
                <td>
                    <input type="text" asp-for="Id"  />
                </td>
            </tr>
            <tr>
                <td>Электронный адрес</td>
                <td>
                    <input type="text" asp-for="mo"  />
                </td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>
                    <input type="text" asp-for="oo"  />
                </td>
            </tr>
            <tr>
                <td>СНИЛС</td>
                <td>
                    <input type="text" asp-for="dolgnost_imeyu"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="kategor"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="data_last_att"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="kategor_rabot"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="uch_stepen"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="data_podachi"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="data_obnovl"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="status"  />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="ball"  />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>

                    <input type="hidden" asp-for="id_user" />
                    <input type="submit" asp-controller="User" asp-action="Update" value="Обновить" />
                    <input type="submit" value="Сохранить" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
