<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">

    <link rel="stylesheet" href="~/assets/css/main.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/css/Footer-Dark.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <!-- <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">


    <title>@ViewData["Title"] - Аттестация</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-top: 11px;padding-right: 7px;padding-bottom: 10px;padding-left: 3px;">
        <div class="container">
            <table style=" border: solid 0px #dbdbdb; margin: 0;">
                <tr style=" border: solid 0px #dbdbdb; margin: 0;">
                    <td><span class="navbar-expand-sm"><img class="rounded-circle" src="~/assets/img/лого%20ИРО%20КК%20и%20текст.png" width="150"></span><a class="navbar-brand logo" href="#">Аттестация ИРО КК</a></td>
                </tr>
                <tr style=" border: solid 0px #dbdbdb; margin: 0;">
                    <td>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only sr-only-focusable"><img class="rounded-circle" src="~/assets/img/лого%20ИРО%20КК%20и%20текст.png" width="150"></span><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse text-left " id="navbarNav">

                            <ul class="nav navbar-nav ml  align-items-xl-center" padding-right: 20px;">
                                <li class="nav-item" role="img"></li>
                                <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex justify-content-xl-center align-items-xl-center" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex justify-content-xl-center align-items-xl-center" asp-area="" asp-controller="Lk" asp-action="Lk">Личный кабинет</a></li>
                            </ul><button type="button" class="button" style="margin-left:auto;" asp-area="" asp-controller="Home" asp-action="Login">Войти</button><br />
                            <button type="button" class="button" style="margin:5px;"> Зарегистрироваться</button>
                            <button type="button" class="sr-only" style="margin-left:auto; ">Моя учетная запись</button><br />
                            <button type="button" class="sr-only" style="margin:5px;"> Выйти</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </nav>

    <div class="container body-content">
        <br /><br /><br /><br /><br /><br />
        @RenderBody()
        <hr />
    </div>
    <div class="d-print-none">
        <footer>
            <div class="container">
                <div class="row">
                    @*<div class="card border-success mb-4 mx-auto" style="max-width: 300px; padding:0;">
                            <!-- Шапка -->
                            <div class="card-header bg-success text-white">
                                Главная
                            </div>
                            <!-- Текстовый контент -->
                            <div class="card-body">

                                <ul>
                                    <li><a href="#">Личный кабинет</a></li>
                                    <li><a href="#">Ответственным МО</a></li>
                                    <li><a href="#">Аттестационная комиссия</a></li>
                                </ul>
                            </div>
                        </div><!-- Конец карточки -->*@
                    @*<div class="col-sm-6 col-md-3 item" style="width: 196px;">
                            <h3>Главная</h3>
                            <ul>
                                <li><a href="#">Личный кабинет</a></li>
                                <li><a href="#">Ответственным МО</a></li>
                                <li><a href="#">Аттестационная комиссия</a></li>
                            </ul>
                        </div>*@
                    <div class="col-sm-6 col-md-4 item" style="width: 331px;">
                        <h3>КОНТАКТЫ<br></h3>
                        <p style="font-size: 14px;">
                            Отдел&nbsp;сопровождения процедуры аттестации&nbsp;педагогических работников ГБОУ ИРО КК <br /> Телефон:&nbsp;<b>8(861) 232-17-09 &nbsp;</b> <br />
                            Электронная&nbsp;почта:&nbsp;<a href="mailto:oa@iro23.ru"><b>oa@iro23.ru</b></a><br />
                            Для справок педагогических работников организаций <b>Министерства культуры <br /> </b>Тел:&nbsp;<b>8(861) 224-20-38, 224-88- 60 &nbsp;</b><br />
                            Email:&nbsp;<a href="mailto:att_kumc@mail.ru"><b>att_kumc@mail.ru</b></a><br><br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="width: 196px;">
                        <h3>Техническая поддержка</h3>
                        <p style="font-size: 14px;">
                            Информационно-аналитический центр ГБОУ ИРО КК <br />
                            Телефоны: <br /> <b>8(861) 232-39-71</b><br><b> 8(861) 260-27-54</b><br><br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="width: 196px;">
                        <h3>Полезные ссылки</h3>
                        <ul>
                            <li><a class="a" href="https://www.pdf2go.com/ru/compress-pdf">Сжатие PDF</a></li>
                            <li><a class="a" href="http://attest.iro23.ru/sites/default/files/PDF.pdf">Инструкция сжатия PDF</a></li>

                        </ul>
                    </div>

                </div>
                <p class="copyright">© Информационно-аналитический центр ГБОУ ИРО Краснодарского края 2019</p>
            </div>
        </footer>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
