@model IEnumerable<Attest.Program>

<div>
    <p>Аттестация в целях установления квалификационной категории проводится по желанию педагогических работников на основании их заявлений, которые подаются в аттестационную комиссию министерства образования, науки и молодежной политики Краснодарского края.</p>

    <p class="rtecenter">Основными задачами аттестации являются:</p>

    <ul>
        <li>
            <p>стимулирование целенаправленного, непрерывного повышения уровня квалификации педагогических работников, их методологической культуры, профессионального и личностного роста;</p>
        </li>
        <li>
            <p>определение необходимости повышения квалификации педагогических работников;</p>
        </li>
        <li>
            <p>повышение эффективности и качества педагогической деятельности;</p>
        </li>
        <li>
            <p>выявление перспектив использования потенциальных возможностей педагогических работников;</p>
        </li>
        <li>
            <p>учет требований федеральных государственных образовательных стандартов к кадровым условиям реализации образовательных программ при формировании кадрового состава организаций;</p>
        </li>
        <li>
            <p>обеспечение дифференциации размеров оплаты труда педагогических работников с учетом установленной квалификационной категории и объема их преподавательской (педагогической) работы.</p>
        </li>
    </ul>

    <p class="rtecenter">Уважаемые педагоги</p>

    <p><strong>Заявления о проведении аттестации</strong>&nbsp;в целях установления квалификационной категории необходимо&nbsp;<a href="http://attest.iro23.ru/node/add/zayavlenie-na-attestaciy">подавать в электронной форме</a>&nbsp;на сайте <a href="http://attest.iro23.ru/">http://attest.iro23.ru</a> ГБОУ ИРО Краснодарского края.</p>

    <p>Заявления в электронной форме подаются в соответствии с&nbsp;<a href="http://iro23.ru/sites/default/files/instrukciya_dlya_pedrabotnika_podayushchego_zayavlenie_na_proved._attest.pdf">инструкцией&nbsp;</a>, регистрируются и рассматриваются аттестационной комиссией министерства образования, науки и молодежной политики Краснодарского края. Заседания аттестационной комиссии в 2018-2019 учебном году проходят по утвержденному&nbsp;<a href="http://iro23.ru/sites/default/files/prikaz_no_4519_ot_20.12.2018_0.pdf">графику</a>.</p>

    <p class="rtecenter">Обращаем внимание!</p>

    <p>В соответствии с&nbsp;<a href="http://iro23.ru/sites/default/files/poryadok_7.04.14_no_276.pdf">Порядком проведения аттестации</a>&nbsp;- заявления педагогических работников о проведении аттестации в целях установления квалификационной категории рассматриваются аттестационной комиссией в срок не более 30 календарных дней со дня их получения, в течение которого:</p>

    <p>а) определяется конкретный срок проведения аттестации для каждого педагогического работника индивидуально с учетом срока действия ранее установленной квалификационной категории;</p>

    <p>б) осуществляется уведомление педагогических работников о сроке и месте проведения их аттестации.</p>

    <p>Уважаемые педагогические работники!</p>

    <p>Заявления целесообразно подавать за 3-4 месяца до окончания срока предыдущей аттестации и срока действия ранее установленной квалификационной категории.</p>

    <p class="rtecenter">ВНИМАНИЕ!</p>

    <p>Заявления о проведении аттестации в целях установления квалификационной категории в 2018-2019 учебном году принимаются для рассмотрения аттестационной комиссией министерства образования, науки и молодежной политики Краснодарского края согласно графику:</p>

    <img alt="" height="513" src="http://iro23.ru/sites/default/files/snimok.png" width="684" />

    <p><a href="http://attest.iro23.ru/content/resheniya-attestacionnoy-komissii">Уведомления о результатах рассмотрения</a>&nbsp;аттестационной комиссией&nbsp;<strong>заявлений</strong>&nbsp;педагогических работников о проведении аттестации размещаются на сайте&nbsp;<a href="http://attest.iro23.ru/">http://attest.iro23.ru</a>&nbsp;ГБОУ ИРО Краснодарского края.</p>
</div>

<p>Продолжительность аттестации для каждого педагогического работника от начала ее проведения и до принятия решения аттестационной комиссией составляет не более 60 календарных дней. По&nbsp;<strong>результатам аттестации</strong>&nbsp;на основании решения аттестационной комиссии издается&nbsp;<strong>приказ об установлении квалификационных категорий</strong>, который&nbsp;<a href="https://minobr.krasnodar.ru/ministerstvo/kontrol/attestat-ped-rabotnikov/docs_new/prikazy-ob-ustanovlenii-kvalifikatsionnykh-kategoriy/" target="_blank">размещается на официальном сайте министерства образования, науки и молодежной политики Краснодарского края</a>&nbsp;в разделе «Министерство», далее последовательно - «Контроль», «Аттестация педагогических работников», «Документы», «Приказы об установлении&nbsp;квалификационных категорий».</p>

<p>Вопросы по аттестации педагогических работников можно задать по телефону отдела сопровождения процедуры аттестации педагогических работников ГБОУ ИРО Краснодарского края 8&nbsp;861&nbsp;232-17-09 или по электронной почте -&nbsp;<a href="mailto:oa@iro23.ru">oa@iro23.ru</a>.</p>

<div>&nbsp;</div>


