@model IEnumerable<Attest.Program>

@{
    ViewData["Title"] = "index";
}

@functions
{
public int GetFactorial(int n)
{
    int result = 1;
    for (int i = 1; i <= n; i++)
        result *= i;
    return result;
}
}
<div>Факториал числа 16 равен: @GetFactorial(16)</div>

