<h2>Личный кабинет</h2>
<br /><h3>@ViewData["Message"]</h3>
<div class="table-responsive table-bordered text-left shadow-sm" style="margin: 0px;padding: 15px;">
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>МО</th>
                <th>Категория</th>
                <th>Дата подачи</th>
                <th>Статус заявления</th>
                <th>Итоговый балл</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Иванов И.И.</td>
                <td>Анапский</td>
                <td>Первая</td>
                <td>21.03.2014</td>
                <td>Принято</td>
                <td>161</td>
            </tr>
            <tr>
                <td>Иванов И.И.</td>
                <td>Анапский</td>
                <td>Высшая</td>
                <td>21.03.2018</td>
                <td>Принято</td>
                <td>274</td>
            </tr>
        </tbody>
    </table>
</div>
class="table table-striped table-bordered table-hover"